.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating{
  flex-direction: column;
  justify-content: flex-start;
}

.stars{
  margin-left: 20rem !important;
}

.infos{
  width: auto;
}

.botao{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.input{
  display: flex;
  justify-content: space-between;
}

.inputDescription{
  flex-direction: column;
  justify-content: flex-end;
}

.inputDate{
  flex-direction: column;
  justify-content: flex-start;
}

.p-datepicker td>span {
  display: initial;
}

.buttonsend{
  display: flex;
  justify-content: flex-end;
}
