
<div class="col-md-10 mx-auto col-lg-5 mt-3">
        <form class="p-4 p-md-5 border rounded-3 bg-light">
          <h1 class="h3 mb-3 fw-normal">BicoOn</h1>

          <div class="form-floating mb-4">
            <input type="text" class="form-control" id="floatingName"name="nome" required>
            <label for="floatingName">Nome</label>
          </div>

          <div class="form-floating mb-4">
            <input type="email" class="form-control" id="floatingEmail" name="email"required>
            <label for="floatingEmail">Email</label>
          </div>

          <div class="form-floating mb-4">
            <input type="password" class="form-control" id="floatingpassword" name="password"required>
            <label for="floatingPassword">Senha</label>
          </div>

          <button class="w-100 btn btn-lg btnLogin" (click)="onRegister()" type="submit">Login</button>

          <hr class="my-4">
      </form>
</div>
