<div class="header row">
  <h1>Solicitações</h1>
</div>
<p-toast></p-toast>
<div class="container">
  <div class="mx-auto col-lg-10 mt-3">
    <div>
      <p-table *ngIf="solicitations.length > 0"
        responsiveLayout="scroll"
        [responsive]="true"
        [value]="solicitations"
        [paginator]="true" [rows]="4">
        <ng-template pTemplate="header" let-columns >
            <tr>
                <th>Solicitação </th>
                <th *ngIf="user.tipo == 'Cliente'">Prestador</th>
                <th *ngIf="user.tipo == 'Prestador'">Cliente</th>
                <th>Descrição</th>
                <th>Data</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitation let-columns="columns">
            <tr>
                <td>{{solicitation.id}}</td>
                <td *ngIf="user.tipo == 'Cliente'">{{solicitation.idPrestador}}</td>
                <td *ngIf="user.tipo == 'Prestador'">{{solicitation.idCliente}}</td>

                <td>
                  <input class="form-control" type="text"
                  [(ngModel)]="solicitation.descricao"
                  [disabled]="!solicitation.edit">
                </td>

                <td>
                  <input
                  class="form-control"
                  type="datetime-local"
                  [(ngModel)]="solicitation.data"
                  [disabled]="!solicitation.edit">
                </td>

                <td>
                  <span *ngIf="!solicitation.editStatus" [class]="solicitation.status.toLowerCase() + ' badge'" >{{solicitation.status}}</span>
                  <select class="form-select" *ngIf="solicitation.editStatus" [(ngModel)]="solicitation.status">
                    <option *ngFor="let item of status" [value]="item.name" >{{item.name}}</option>
                  </select>
                </td>

                <td class="actions">
                  <button
                    *ngIf="!solicitation.edit"
                    class="btn btnDefault" (click)="onEdit(solicitation)">Editar
                    <i class="pi-pencil"></i>
                  </button>
                  <button
                    *ngIf="solicitation.edit"
                    class="btn btnDefault"
                    (click)="onSave(solicitation)">Salvar
                    <i class="pi-pencil"></i>
                  </button>
                  <button (click)="onReport(solicitation)"
                    class="btn btnWarn">
                    <img width="30px" src="../../../assets/images/icons/sinal-de-aviso.png" alt="">
                  </button>
                  <button (click)="onEvaluate(solicitation)"
                    *ngIf="solicitation.status == 'Encerrada' && user?.tipo == 'Cliente'"
                    class="btn">
                    <img width="30px" src="../../../assets/images/icons/comente.png" alt="">
                  </button>

                </td>
            </tr>
        </ng-template>
      </p-table>
      <div *ngIf="solicitations.length == 0" class="col-md-10 mt-3 p-4 p-md-7 border rounded-3 bg-light">
        <h4>Você ainda não possui solicitações</h4>
        <a *ngIf="user.tipo == 'Cliente'" routerLink="/home">Procure por serviços</a>
      </div>
  </div>
  </div>
</div>

