@import "~primeicons/primeicons.css";

.header{
  padding-left: 14%;
  padding-top: 40px;
  width: 100%;
  h1{
      font-family: 'Calibri';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 43px;
      color: #000000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}

.container{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.cancelada{
  border-radius: 5px;
  color: #c63737;
  background-color: #FFCDD2;
}

.encerrada{
  border-radius: 5px;
  color: #c63737;
  background-color: #FFCDD2;
}

.pendente{
  border-radius: 5px;
  color: #8a5340;
  background-color: #FEEDAF;
}

.aceita{
  color: #256029;
  background-color: #C8E6C9;
}

.badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

i{
  font-family:'primeicons' !important;
  cursor: pointer;
}

.btnDefault{
  background-color: #41d3be;
  color: white;
}

.btnWarn{
  margin-left: 5%;
}

