<div class="header row">
  <h1>Solicitações</h1>
</div>
<p-toast></p-toast>
<div class="container">
  <div class="mx-auto col-lg-10 mt-3">
    <div class="card">
      <p-table responsiveLayout="scroll" [value]="solicitations">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Solicitação </th>
                <th *ngIf="user.tipo == 'Cliente'">Prestador</th>
                <th *ngIf="user.tipo == 'Prestador'">Cliente</th>
                <th>Descrição</th>
                <th>Data</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitation let-columns="columns">
            <tr>
                <td>{{solicitation.id}}</td>
                <td *ngIf="user.tipo == 'Cliente'">{{solicitation.idPrestador}}</td>
                <td *ngIf="user.tipo == 'Prestador'">{{solicitation.idCliente}}</td>

                <td>
                  <input class="form-control" type="text"
                  [(ngModel)]="solicitation.descricao"
                  [disabled]="solicitation.edit">
                </td>

                <td>
                  <input *ngIf="!solicitation.edit"
                  class="form-control"
                  type="datetime-local"
                  [(ngModel)]="solicitation.data"
                  [disabled]="solicitation.edit">
                  <div *ngIf="solicitation.edit">
                    {{solicitation.data}}
                  </div>
                </td>

                <td>
                  <span *ngIf="solicitation.edit" [class]="solicitation.status.toLowerCase() + ' badge'" >{{solicitation.status}}</span>
                  <select class="form-select" *ngIf="!solicitation.edit" [(ngModel)]="solicitation.status">
                    <option *ngFor="let item of status" [value]="item.name" >{{item.name}}</option>
                  </select>
                </td>

                <td>
                  <button
                    *ngIf="solicitation.edit"
                    class="btn btnDefault" (click)="onEdit(solicitation)">Editar
                    <i class="pi-pencil"></i>
                  </button>
                  <button
                    *ngIf="!solicitation.edit"
                    class="btn btnDefault"
                    (click)="onSave(solicitation)">Salvar
                    <i class="pi-pencil"></i>
                  </button>
                  <button class="btn btnWarn"><img width="30px" src="../../../assets/images/icons/sinal-de-aviso.png" alt=""></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
  </div>
  </div>
</div>

