<div class="header row">
  <h1>Solicitações</h1>
</div>
<div class="container">
  <div class="mx-auto col-lg-10 mt-3">
    <div class="card">
      <p-table responsiveLayout="scroll" [value]="solicitations">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Id Solicitação </th>
                <th>Prestador</th>
                <th>Descricao</th>
                <th>Data</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitation let-columns="columns">
            <tr>
                <td>{{solicitation.id}}</td>
                <td>{{solicitation.idPrestador}}</td>
                <td>{{solicitation.descricao}}</td>
                <td>{{solicitation.data | customDate}}</td>
                <td><span [class]="solicitation.status.toLowerCase() + ' badge'">{{solicitation.status}}</span></td>
            </tr>
        </ng-template>
    </p-table>
  </div>
  </div>
</div>

