<div class="col-md-10 mx-auto col-lg-4 mt-3">
  <div class="p-4 p-md-7 border rounded-3 bg-light card-container">
    <form [formGroup]="form">
      <div class="form-floating mb-4">
        <input
        type="text"
        class="form-control"
        id="floatingName"
        formControlName="old"
        >
        <label for="floatingName">Senha antiga</label>
      </div>
      <div class="form-floating mb-4">
        <input
        type="text"
        class="form-control"
        id="floatingName"
        formControlName="current"
        >
        <label for="floatingName">Nova senha</label>
      </div>
      <div class="form-floating mb-4">
        <input
        type="text"
        class="form-control"
        id="floatingName"
        formControlName="currentReplicate"
        >
        <label for="floatingName">Repita nova senha</label>
      </div>
      <button [disabled]="!form.valid" class="w-100 btn btn-lg btnSave" (click)="onSaveChanges()" type="submit">Salvar</button>
    </form>
  </div>
</div>
