<div class="col-md-10 mx-auto col-lg-4 mt-3">
  <div class="p-4 p-md-7 border rounded-3 bg-light card-container">
    <app-skeleton-list *ngIf="loading"></app-skeleton-list>
    <form [formGroup]="form" *ngIf="!loading">
      <div class="form-floating mb-4">
        <input
        type="password"
        class="form-control"
        id="floatOld"
        formControlName="old"
        >
        <label for="floatOld">Senha antiga</label>
        <app-messages
            *ngIf="form.get('old')?.errors?.required && form.get('old')?.touched"
            mensagem="Campo obrigatório"
            >
        </app-messages>
        <app-messages
            *ngIf="form.get('old')?.errors?.nomatch"
            mensagem="Senha inválida"
            >
        </app-messages>
      </div>
      <div class="form-floating mb-4">
        <input
        type="password"
        class="form-control"
        id="floatNew"
        formControlName="current"
        >
        <label for="floatNew">Nova senha</label>
        <app-messages
            *ngIf="form.get('current')?.touched && form.get('current')?.errors?.nomatch"
            mensagem="Senhas devem ser iguais"
            >
        </app-messages>
        <app-messages
            *ngIf="form.get('current')?.errors?.required && form.get('current')?.touched"
            mensagem="Campo obrigatório"
            >
        </app-messages>
      </div>
      <div class="form-floating mb-4">
        <input
        type="password"
        class="form-control"
        id="floatReplicate"
        formControlName="currentReplicate"
        >
        <label for="floatReplicate">Repita nova senha</label>
        <app-messages
            *ngIf="form.get('currentReplicate')?.touched && form.get('currentReplicate')?.errors?.nomatch"
            mensagem="Senhas devem ser iguais"
            >
        </app-messages>
        <app-messages
            *ngIf="form.get('currentReplicate')?.errors?.required && form.get('currentReplicate')?.touched"
            mensagem="Campo obrigatório"
            >
        </app-messages>
      </div>
      <button [disabled]="!form.valid" class="w-100 btn btn-lg btnSave" (click)="onSaveChanges()" type="submit">Salvar</button>
    </form>
    <p-toast></p-toast>
  </div>
</div>
