.card-container{
  height: auto;
  margin-top: 40px;
}

.line{
  height: 1px;
  width: 100%;
  background: #dfdfdf;
}

.btn-send{
  background-color: #41d3be;
  color: white;
}

.c1{
  display: flex;
  flex-direction: row;
}

.solicitacao{
  width: 50%;
}

.rating{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
