<div class="col-md-10 mx-auto col-lg-4 mt-3">
  <div class="p-4 p-md-7 border rounded-3 bg-light card-container">
    <h5>Cadastro de serviço</h5>
    <form [formGroup]="form" class="form-container">
      <div class="mb-4 mt-4">
        <label for="category" class="form-label">Categoria</label>
        <p-dropdown [style]="{'width':'100%'}"
          inputId="category" [options]="categories" class="mb-4"
          placeholder="Selecione uma categoria" optionLabel="nome"
          [showClear]="true" formControlName="categoria">
        </p-dropdown>
        <app-messages
          *ngIf="form.get('categoria')?.errors?.required && form.get('categoria')?.touched"
          mensagem="Categoria é obrigatório">
        </app-messages>
      </div>
      <div class="mb-4">
        <label for="description" class="form-label">Descrição</label>
        <textarea formControlName="descricao" class="form-control" id="description" rows="3"></textarea>
        <app-messages
          *ngIf="form.get('descricao')?.errors?.required && form.get('descricao')?.touched"
          mensagem="Descricao é obrigatório">
        </app-messages>
        <app-messages
          *ngIf="form.get('descricao')?.errors?.minlength && form.get('descricao')?.touched"
          mensagem="tamanho mínimo de 10 caracteres">
        </app-messages>
        <app-messages
          *ngIf="form.get('descricao')?.errors?.maxlength && form.get('descricao')?.touched"
          mensagem="tamanho máximo de 20 caracteres">
        </app-messages>
      </div>
    </form>
    <div>
      <button [disabled]="form.invalid" (click)="register()" class="btn btn-d">Cadastrar</button>
    </div>
  </div>
</div>
