.card-container{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.card{
    box-sizing: border-box;
    width: 270px;
    height: 500px;
    background: #FFFFFF;
    border: 1px solid #CDCBCB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1%;
}

// .card:hover{
//     box-sizing: border-box;
//     width: 275px;
//     height: 505px;
//     background: #FFFFFF;
//     border: 1px solid #CDCBCB;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     border-radius: 10px;
// }
