<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">BicoOn</h1>
      <p class="col-lg-10 fs-4">Trabalhar com amor é descobrir a profissão que te realiza e te faz sentir bem com as suas escolhas. </p>
    </div>

      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" (submit)="login()">
          <h1 class="h3 mb-3 fw-normal">BicoOn</h1>
          <div class="form-floating mb-4">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"  [(ngModel)]="usuario" name="usuario" required #username="ngModel">
            <label for="floatingInput">Email</label>
            <app-messages *ngIf="username.invalid && username.touched"
              mensagem="email é obrigatório">
            </app-messages>
          </div>
          <div class="form-floating mb-4">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="senha" name="senha"
            required #password="ngModel">
            <label for="floatingPassword">Senha</label>
            <app-messages *ngIf="password.invalid && password.touched"
              mensagem="senha é obrigatório">
            </app-messages>
          </div>
          <button class="w-100 btn btn-lg btnLogin" type="submit">Login</button>
          <hr class="my-4">
          <small class="text-muted">Não tem uma conta? <a routerLink="/register">Cadastre-se</a></small>
      </form>
    </div>
  </div>
</div>
