<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Biconline</h1>
      <p class="col-lg-10 fs-4">Trabalhar com amor é descobrir a profissão que te realiza e te faz sentir bem com as suas escolhas. </p>
    </div>

      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" [formGroup]="form" (submit)="login()">
          <h1 class="h3 mb-3 fw-normal">Biconline</h1>
          <div class="form-floating mb-4">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="usuario">
            <label for="floatingInput">Email</label>
            <app-messages
              *ngIf="form.get('usuario')?.errors?.required && form.get('usuario')?.touched"
              mensagem="email é obrigatório">
            </app-messages>
          </div>
          <div class="form-floating mb-4">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
            formControlName="senha">
            <label for="floatingPassword">Senha</label>
            <app-messages
              *ngIf="form.get('senha')?.errors?.required && form.get('senha')?.touched"
              mensagem="senha é obrigatório">
            </app-messages>
            <app-messages
              *ngIf="form.get('senha')?.errors?.nomatch"
              mensagem="usuário ou senha inválidos">
            </app-messages>
            <app-messages
              *ngIf="form.get('senha')?.errors?.internal"
              mensagem="erro ao fazer login, tente novamente">
            </app-messages>
          </div>
          <button class="w-100 btn btn-lg btnLogin" type="submit">Login</button>
          <hr class="my-4">
          <small class="text-muted">Não tem uma conta? <a routerLink="/register">Cadastre-se</a></small>
      </form>
    </div>
  </div>
</div>
