@import url('https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans:wght@700&display=swap');

.card{
  display: flex;
  margin-top: 30px;
  background-color: white;
  height: auto;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 350px;
}

.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33.33%;
  flex-direction: column;
}

.infoP{
  height: 100%;
  width: 33.33%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 1%;
}

.rating{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 33.33%;
  flex-direction: column;
  border-left: solid 1px #dfdfdf;
}

.img-container{
  display: flex;
  width: 220px;
  height: 250px;
  background: rgba(207, 207, 207, 0.3);
  border-radius: 10px;
  justify-self: center;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.description{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #808080;
}

.line{
  width: 100%;
  height: 1px;
  background-color: #dfdfdf;
}

.cInfo{
  display: flex;
  flex-direction: row;
}

.coments{
  width: 50%;
  height: 100%;
  margin: 2%;
}

.get{
  width: 50%;
  height: 100%;
}

.dRating{
  margin: 3%;
}

.coments-container{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin: 4px;
}

.img-c{
  display: flex;
  flex-direction: row;
}

.btnConfirm{
  background-color: #41d3be;
  color: white;
}

.button{
  display: flex;
  justify-content: flex-end;
  margin: 3%;
}

.ipt{
  width: 90%;
  margin: 3%;
}

.sDate{
  margin-left: 2.3%;
  width: 50%;
}

.stars{
  display: flex;
  flex-direction: row;
}

h5{
  margin-left: 10px;
}

.alignText{
  display: flex;
  img{
    margin-top: 2%;
    margin-right: 4px;
  }
  p{
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    color: #808080;
  }
}

.categoryItem{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #198474;
  border-radius: 10px;
  min-width: 50px;
  max-width: 90px;
  height: 30px;
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
}

.imgInfo{
  padding-right: 4%;
  cursor: pointer;
}
