<div class="container">
  <p-toast></p-toast>
  <div class="mx-auto col-lg-9">
    <div class="card">
      <div class="info">

        <div class="photo" >
          <img class="img-container" *ngIf="!provider?.pathPhoto" src="../../../assets/images/default-img.png" alt="">
          <img class="img-container" *ngIf="provider.pathPhoto" src="{{pathGetImages + provider.pathPhoto}}" alt="">
          <p class="description">{{provider.nome.toUpperCase()}}</p>
        </div>

        <div class="infoP" >
          <p class="description">Cidade {{provider.cidade}}</p>
          <p class="description">Email {{provider.email}}</p>
          <p class="description">Telefone {{provider.telefone}}</p>
        </div>

        <div class="rating" >
          <p class="description">Avaliação</p>
          <div class="stars">
            <p-rating [ngModel]="rating" class="stars" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
            <h5>{{rating.toFixed(1)}}</h5>
          </div>
          <p class="dRating">{{ratingMessage}}</p>
        </div>

      </div>
      <div class="line"></div>

      <div class="cInfo">
        <div class="coments">
          <p class="description">Comentários</p>
          <div class="ntComents" *ngIf="coments.length == 0">Esse prestador ainda não possui comentários</div>

          <div *ngIf="coments.length > 0" class="coments-container">
            <div class="img-c">
              <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" width="29" height="29" class="rounded-circle me-2">
              <p>Nome</p>
            </div>
            <p>Servico muito bom</p>
          </div>
        </div>
        <div class="get" [formGroup]="formSolicitation">
          <div class="ipt input-group">
            <label for="lbDate" class="input-group-text">Selecione uma data</label>
            <input
            formControlName="data" class="sDate form-control"
            (change)="onChange()" type="datetime-local"
            >
          </div>
          <div class="ipt">
            <textarea
              formControlName="descricao" class="form-control"
              (keydown)="onChange()" placeholder="Descreva aqui o que voce precisa"
              id="inputDescricao" rows="2" cols="36"
              pInputTextarea >
            </textarea>
          </div>
          <div class="button">
            <button [disabled]="!sendSolicitation" (click)="onSubmit()" type="submit" class="btn btnConfirm">Solicitar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
