.navInfo{
  background-color: #41d3be;
    // background-color: #ededed;
  height: 70px;
}

.formsearch{
  padding-right: 70px;
}

.inputsearch{
  align-self: center;
  min-width: 500px;
}

.linkcontainer{
  margin-right:7%;
}

.logoimage{
  max-width: 10%;
  max-height: 7%;
}

.profileimage{
  padding-top: 5px;
  padding-left: 5px;
}

@media (max-width: 600px)
{
  .logoimage
   {
    max-width: 120px;
    max-height: 100px;
  }

  .nav-link{
    color: black;
  }
}
