<nav class="navbar navbar-expand-lg navbar-dark navInfo">
  <div class="container-fluid">
    <img class="logoimage" src="../../../assets/images/logo.png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-ligth" tabindex="-1" id="offcanvasNavbar2">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" >Biconline</h5>
        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body linkcontainer">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <div *ngIf="tokenService.possuiToken()" class="d-flex mt-3 mt-lg-0 formsearch" role="search">
            <input (keydown.enter)="searchChange()" class="form-control me-2 inputsearch"
            [formControl]="serviceDescription"
            type="search" placeholder="Buscar por serviços">
            <button (click)="searchChange()" class="btn" type="submit"><i class="material-icons" style="margin-top: 2px;">search</i></button>
          </div>
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Início</a>
          </li>
          <li class="nav-item">
            <a *ngIf="tokenService.possuiToken()" class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sobre-nos" routerLinkActive="active">Sobre Nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/help" routerLinkActive="active">Ajuda</a>
          </li>
          <!-- icone perfil  -->
          <div class="dropdown" *ngIf="tokenService.possuiToken()">
            <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle profileimage" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" width="32" height="32" class="rounded-circle me-2">
            </a>
            <ul class="dropdown-menu dropdown-menu-ligth text-small shadow">
              <li><a class="dropdown-item">Perfil</a></li>
              <li><a class="dropdown-item">Configurações</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout()">Sair</a></li>
            </ul>
          </div>


        </ul>
      </div>
    </div>
  </div>
</nav>
