<div class="header row">
  <h1>Configurações</h1>
</div>
<div class="container">
  <div class="item" routerLink="changes-passwords">
    <p>Alterar Senha</p>
    <img width="37px" height="37px" src="../../../assets/images/icons/chave.png">
  </div>
  <div *ngIf="user.tipo == 'Prestador'" [formGroup]="formAvailable" class="item">
    <p>Visibilidade do perfil</p>
    <div class="form-check form-switch selectSwitch">
      <input class="form-check-input" (change)="setAvailable()" type="checkbox" formControlName="available">
    </div>
    <!-- <img width="37px" height="37px" src="../../../assets/images/icons/visibilidade.png"> -->
  </div>
  <div *ngIf="user.tipo == 'Prestador'" class="item" [routerLink]="'/services'">
    <p>Serviços cadastrados</p>
    <img width="37px" height="37px" src="../../../assets/images/icons/pranchetas.png">
  </div>
</div>
